*{ box-sizing: border-box;}

.container-fluid{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}   
.container{
    width: 100%;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}  

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.col-1, .col-2, .col-3, .col-4, 
.col-5, .col-6, .col-7, .col-8,
.col-9, .col-10, .col-11, .col-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, 
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,
.col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, 
.col-md-5, .col-md-6, .col-md-7, .col-md-8,
.col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, 
.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
.col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

$nb_rows: 12;

@for $i from 1 through 12 {
    .col-#{$i}{
        $size: $i / $nb_rows * 100%;
        width: $size;
        flex: 0 0 #{$size};
        max-width: #{$size};
    }
}
/***** SM *****/
@media (min-width: 576px) {
    @for $i from 1 through 12 {
        .col-sm-#{$i}{
            $size: $i / $nb_rows * 100%;
            width: $size;
            flex: 0 0 #{$size};
            max-width: #{$size};
        }
    }   
}

/***** MD *****/
@media (min-width: 768px) {
    @for $i from 1 through 12 {
        .col-md-#{$i}{
            $size: $i / $nb_rows * 100%;
            width: $size;
            flex: 0 0 #{$size};
            max-width: #{$size};
        }
    }   
}

/***** LG *****/
@media (min-width: 992px) {
    @for $i from 1 through 12 {
        .col-lg-#{$i}{
            $size: $i / $nb_rows * 100%;
            width: $size;
            flex: 0 0 #{$size};
            max-width: #{$size};
        }
    }   
}

/***** XL *****/
@media (min-width: 1200px) {
    @for $i from 1 through 12 {
        .col-xl-#{$i}{
            $size: $i / $nb_rows * 100%;
            width: $size;
            flex: 0 0 #{$size};
            max-width: #{$size};
        }
    }   
}